<!-- page header -->
<ion-header collapse="fade" mode="ios">
  <ion-toolbar>
    <ion-title>
      <span>New Client Registration</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <!-- content title -->
    <h2>Sign up</h2>

    <!-- plan description -->
    <ion-text class="plan-description">
      <p>Peace of My Heart New Client</p>
    </ion-text>

    <!-- form -->
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterForm()" (keyup.enter)="onRegisterForm()">
      <div class="form-container">
        <!-- name -->
        <ion-item class="ion-no-padding" lines="none" mode="ios">
          <ion-label position="stacked">First Name <span class="accent">*</span>
          </ion-label>
          <ion-input type="text" formControlName="firstName" required="true"></ion-input>
        </ion-item>
        <div *ngIf="(firstName.dirty || firstName.touched) && firstName.errors" class="errors">
          <span *ngIf="firstName.errors?.required">First Name is required</span>
        </div>
        <ion-item class="ion-no-padding" lines="none" mode="ios">
          <ion-label position="stacked">Last Name <span class="accent">*</span>
          </ion-label>
          <ion-input type="text" formControlName="lastName" required="true"></ion-input>
        </ion-item>
        <div *ngIf="(lastName.dirty || lastName.touched) && lastName.errors" class="errors">
          <span *ngIf="lastName.errors?.required">Last Name is required</span>
        </div>
        <!-- email -->
        <ion-item class="ion-no-padding" lines="none" mode="ios">
          <ion-label position="stacked">Email address <span class="accent">*</span>
          </ion-label>
          <ion-input
            formControlName="email"
            placeholder="your_email@gmail.com"
            type="email"
            inputmode="email"
            required="true">
          </ion-input>
        </ion-item>
        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
          <span *ngIf="email.errors?.required">Email is required</span>
          <span *ngIf="email.errors?.pattern">Valid email format required (use lowercase)</span>
        </div>
        <!-- password -->
        <ion-item class="ion-no-padding" lines="none" mode="ios">
          <ion-label position="stacked">Password (Min. 8 characters) <span class="accent">*</span>
          </ion-label>
          <ion-input
            formControlName="password" 
            placeholder="password"
            [type]="passwordType"
            minLength="8"
            required="true">
          </ion-input>
        </ion-item>
        <div style="display:flex; align-items: center;">
          <ion-icon name="eye" [color]="passwordShow === true ? 'secondary' : 'primary'"
           (click)="togglePassword()"></ion-icon>
          <ion-text class="field-description">&nbsp; Show/Hide Password</ion-text>
        </div>
        <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
          <span *ngIf="password.errors?.required">Password is required</span>
        </div>
      </div>
      <!-- terms and conditions -->
      <div class="terms-container">
        <ion-checkbox (ionChange)="onCheckEvent($event)" mode="ios"></ion-checkbox>
        <ion-text>
          I agree with the
          <a href="https://ionicblocks.com/" target="_blank">
            <span class="link">terms and conditions</span></a>
          and
          <a href="https://ionicblocks.com/" target="_blank">
            <span class="link">privacy policy</span></a>
          of the website and I accept them.
        </ion-text>
      </div>
  
      <!-- cta -->
      <ion-button *ngIf="termsChecked" fill="solid" size="block" class="signup-button" mode="ios" type="submit" 
      [disabled]="!registerForm.valid">Sign Up</ion-button>
      <div class="ion-text-center">
        <ion-button size="default" fill="clear" fill="solid" color="secondary" (click)="closeModal()">Cancel</ion-button>
      </div>
    </form>
  </div>
</ion-content>

