<ion-app>
  <ion-menu contentId="main-content" side="start" type="overlay">
    <ion-content>
      <ion-header>
        <ion-toolbar >
          <ion-row class="biz-details-wrapper">
            <ion-col class="ion-no-margin ion-no-padding" size="4">
              <ion-avatar>
                <img [src]="'./assets/shared/logo-white-75x75.png'" />
              </ion-avatar>
            </ion-col>
            <ion-col class="biz-info-wrapper" size="8">
              <h3 class="biz-name">Peace of My Heart</h3>
              <h5 class="biz-handle">@PeaceOfMyHeartPuppy<br>TrainingInHomeBoarding</h5>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      <ion-list id="inbox-list">
        <ion-list-header>
          <ion-label>Menu</ion-label>
        </ion-list-header>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" class="{{p.color}}" [name]="p.ionicIcon? p.ionicIcon: ''"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
