<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center">Reset Your Password for Peace of My Heart</h2>
        <p>An email containing a link will be sent to you. Follow the instructions to reset
          your password.
        </p>
        <form [formGroup]="passwordResetForm" (ngSubmit)="onPasswordResetForm()" (keyup.enter)="onPasswordResetForm()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email" placeholder="example@gmail.com" 
            value="userEmail" required></ion-input>
          </ion-item>
          <ion-text class="field-description">Your current user email for POMH</ion-text>
          <div *ngIf="email.errors && (email.dirty || email.touched)" class="errors">
            <span *ngIf="email.errors?.required">Email is required</span>
            <span *ngIf="email.errors?.pattern">Valid email format required</span>
          </div>
          <ion-row>
            <ion-col class="ion-text-end">
              <ion-button fill="clear" fill="solid" color="secondary" (click)="closeModal()">Cancel</ion-button>
              <ion-button type="submit" [disabled]="!passwordResetForm.valid">Submit</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
