<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row class="home-heading ion-no-margin ion-padding">
      <ion-col class="responsive-image ion-no-padding ion-no-margin" size="4">
        <img src="../../../assets/home/newDog.png">
      </ion-col>
      <ion-col class="responsive-image ion-no-margin" size="8">
        <img src="../../../assets/shared/pomh-new-logo-with-words.png">
      </ion-col>
    </ion-row>
    <ion-row class="home-list ion-no-margin ion-padding">
      <ion-col class="introduction home-item" size="12">
        <p>
          Our Mission: Strive for exceptional customer service, embrace our remarkable love of animals, 
          and be known for superior individual care.
        </p>
        <p>
          Anyone who knows me is aware that Xena and Cardiff are my kids. They go everywhere with me. Because of this, 
          I had a vision of a place where I would feel comfortable leaving my wonderful canine companions when I 
          had to travel without them. Realizing that I wasn’t the only one who felt this way, I began the process of 
          transforming my vision into a reality. Peace of My Heart was born!
        </p>
        <p>Whether for training or boarding, the pets in my care are not just left to be cooped up in a kennel, but are guests, 
          like a bed & breakfast inn for dogs. Spending individual time with your pet goes a long way to relieve their stress, 
          and helps put the pet parents at ease. While you are away, give your pet the gift of Peace of My Heart!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
