.home-heading {
	background-color: black;
	border-bottom: 2px solid red;
}

.home-list {
	background-color: black;
	color: white;
}

.move-img-down {
	padding-top: 20px;
}

.responsive-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: auto;
}